@import url(font-awesome.min.css);
*{
    margin: 0 auto;
    font-size: 14px;
    color: #333;
}
.icon{
    font-family: FontAwesome;
    font-style: normal;
}
.clear-fix{
    clear: both;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}

.title{
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
}
.title:after{
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 1px;
    background-color: #474747;
    position: absolute;
}
.title:before{
    width: 80px;
    bottom: 0;
    content: "";
    height: 6px;
    background-color: #f98500;
    position: absolute;
    z-index: 1;
}
.article-title{
    transition: color 0.3s ease 0s;
    position: relative;
    margin-bottom: 20px;
}
.article-title:hover{
    color: #f98500;
}
.footer-icon{
    color: #f98500;
    margin-left: 25px;
}